# bot 
BOT_TOKEN=<string> # actual bot token 
BOT_ID=<number> # actual bot id 
OWNER_ID=<number> # your discord id 
WEBHOOK_URL=<string> # webhook url for errors
SUBMISSION_CHANNEL=<number> # submission channel id for feedbacks

# database - postgresql server database 
HOST=<ip-address> #actual host 
PORT=<number> # actual port 
DATABASE=<string> # actual database name 
USER=<string> # actual username 
PASSWORD=<string> # actual password 