# bot 
BOT_TOKEN=<string> # actual bot token 
BOT_ID=<string> # actual bot id 
OWNER_ID=<string> # your discord id 

# database - postgresql server database 
HOST=<string> #actual host 
PORT=<number> # actual port 
DATABASE=<string> # actual database name 
USER=<string> # actual username 
PASSWORD=<string> # actual password 